*{
    padding: 0;
    margin: 0;
    background-color: #FEF9F3;
}


nav{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}


.logo{
color: #683C9D;
font-weight: 400;
margin-top: 3rem;
margin-left: 4rem;
}



nav ul{
    display: flex;
    list-style: none;
    margin-left: 15%;
}


nav ul li{
    justify-content: space-evenly;
    margin-top: 3rem;
    padding: 4%;
    padding-left: 5%;
}


li:hover{
    color: blue;
}


button{
    margin-top: 3rem;
    margin-right: 4rem;
    width: 9vw;
    height: 4vh;
    font-weight: bold;
    font-size: 15px;
    background-color: #c77dff;
    color: #FEF9F3;
    box-shadow: 1px 2px 2px #c77dff;
    border: 1rem #683C9D;
}



.div_one{
    display: flex;
    margin-left: 4rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
}


.div_one h2{
    margin-bottom: 3rem;
    margin-top: 4rem;
}



.div_one img{
    width: 75%;
    margin-right: 3rem;
    margin-left: 6rem;
    margin-top: 3rem;
}


.div_3{
    display: flex;
    margin-top: 5rem;
}


.button2{
    margin-top: 3rem;
    margin-right: 4rem;
    width: 9vw;
    height: 4vh;
    font-weight: bold;
    font-size: 15px;
    background-color: #683C9D;
    color: #FEF9F3;
    box-shadow: 1px 2px 2px #c77dff;
    border: 1rem #683C9D;
}


.button3{
    margin-top: 3rem;
    margin-right: 4rem;
    width: 9vw;
    height: 4vh;
    font-weight: bold;
    font-size: 15px;
    background-color: #3598AB;
    color: #FEF9F3;
    box-shadow: 1px 2px 2px #c77dff;
    border: 1rem #683C9D;
}



.image{
    /* background-color: #65617D; */
}