@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: ;

}

html,body {
    overflow: auto;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

nav {
    display: flex !important;
    justify-content: space-around;
    background-color: black;
    color: white;
   

}

#logo {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 800px;
    margin-left: 30px;
}


nav ul li {
    display: inline;
    margin: 10px;
    font-weight: 800px;
    font-size: 17px;
    text-align: center;
    justify-content: space-between;
}

#ul {
    margin-top: 40px;
}



#login {
    margin-top: 40px;
    margin-left: 60px;
}


nav button {
    margin: 25px;
    background-color: #ED661F;
    width: 120PX;
    border-radius: 5PX;
    font-size: 17PX;
    color: white;
}


.backimg {
    background-image: url("../img/image\ 1.png");
    width: 100%;
    background-position: 100% 50%;
    background-size: cover;
    height: 100%;
    align-items: center;
}

.fdiv {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    align-items: center;
}


.fdiv img {
    width: 100%;
}


.fdiv button {
    background-color: #ED661F;
    margin-top: 10%;
    width: 40%;
    padding: 5%;
    border-radius: 4%;
    color: white;
    margin-bottom: 15%;
    font-weight: 800;
}


.box {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px;
    background-color: white;
    margin-left: 30%;
    margin-right: 10%;
    padding: 2.5%;
    align-items: center;
    margin-bottom: 10%;
    font-weight: 800;
    font-size: 90%;
}


.secdiv {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    font-weight: 500;
    font-size: 30px;
    margin-left: 5%;
}


#secdivp{
    width: 50% !important;
}

#heading{
    margin-bottom: 7%;
    margin-left: 5%;
}



.secdiv img {
    width: 120%;
    height: 120%;
}

#cat{
    text-align: center;
    font-size: 50px;
    margin-bottom: 4%;
    margin-top: 20%;
}

#categ{
    text-align: center;
    font-size: 40px;
    margin-left: 18%;
    margin-right: 18%;
}


.category{
    margin-left: 5%;
}

.category img{
    width: 75%;
    margin-top: 20%;
}

.popular{
    display: flex;
}

.new
{
    display: flex;
}


.category h3{
    margin-top: 10%;
    font-size: 30px;
}

.all{
    float: right;
    padding: 5%;
    margin-right: 10%;
    font-size: 25px;
}


.empty{
    background-color: gray;
    height: 10%;
    margin-top: 15%;
    color: gray;
}


/* .label{
    content: '\f005';
    font-family: fontAwesome;
} */

#fliers{
    margin: 5%;
    font-size: 40px;
}

.star{
    display: flex;
    margin: 5%;
    justify-content: space-around;
}

.says{
    width: 25%;
    font-size: 30px;
    box-shadow: 0 1px 1px;
    background-color: white;
    border-radius: 1%;
}

.fa-solid{
    color: #ED661F;
    font-size: 130%
}

.says h3{
    padding-top: 15%;
    text-shadow: 1px 1px 2px gray;
}

.says img{
    width: 20%;
    margin-top: 20%;
}

.fnote{
    background-color: black;
    color: white;
    text-align: center;
    padding: 7%;
}

.fnote button{
    margin-top: 5%;
    font-size: 15px;
    padding: 1.2%;
    width: 25%;
    font-weight: 600;
}
    

#sbutton{
    background-color: #ED661F;
    color: white;
    width: 15%;
}